apiVersion: v1
kind: ConfigMap
metadata:
  name: rw-nexmark-sinks-${BENCHMARK_JOB_NAME}
  namespace: ${BENCHMARK_RISINGWAVE_NAMESPACE}
data:
  q0.drop.sql: |
    DROP SINK nexmark_q0;
  q0.sql: |
    CREATE SINK nexmark_q0
    AS
    SELECT auction, bidder, price, date_time
    FROM bid
    WITH ( connector = 'blackhole', type = 'append-only');
  q1.drop.sql: |
    DROP SINK nexmark_q1;
  q1.sql: |
    CREATE SINK nexmark_q1
    AS
    SELECT auction,
           bidder,
           0.908 * price as price,
           date_time
    FROM bid
    WITH ( connector = 'blackhole', type = 'append-only');
  q2.drop.sql: |
    DROP SINK nexmark_q2;
  q2.sql: |
    CREATE SINK nexmark_q2
    AS
    SELECT auction, price
    FROM bid
    WHERE auction = 1007
       OR auction = 1020
       OR auction = 2001
       OR auction = 2019
       OR auction = 2087
    WITH ( connector = 'blackhole', type = 'append-only');
  q3.drop.sql: |
    DROP SINK nexmark_q3;
  q3.sql: |
    CREATE SINK nexmark_q3
    AS
    SELECT P.name,
           P.city,
           P.state,
           A.id
    FROM auction AS A
             INNER JOIN person AS P on A.seller = P.id
    WHERE A.category = 10
      and (P.state = 'or' OR P.state = 'id' OR P.state = 'ca')
    WITH ( connector = 'blackhole', type = 'append-only');
  q4.drop.sql: |
    DROP SINK nexmark_q4;
  q4.sql: |
    CREATE SINK nexmark_q4
    AS
    SELECT Q.category,
           AVG(Q.final) as avg
    FROM (SELECT MAX(B.price) AS final,
                 A.category
          FROM auction A,
               bid B
          WHERE A.id = B.auction
            AND B.date_time BETWEEN A.date_time AND A.expires
          GROUP BY A.id, A.category) Q
    GROUP BY Q.category
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q5.drop.sql: |
    DROP SINK nexmark_q5;
  q5.sql: |
    CREATE SINK nexmark_q5
    AS
    SELECT
        AuctionBids.auction, AuctionBids.num
    FROM (
        SELECT
            bid.auction,
            count(*) AS num,
            window_start AS starttime
        FROM
            HOP(bid, date_time, INTERVAL '2' SECOND, INTERVAL '10' SECOND)
        GROUP BY
            bid.auction,
            window_start
    ) AS AuctionBids
    JOIN (
        SELECT
            max(CountBids.num) AS maxn,
            CountBids.starttime_c
        FROM (
            SELECT
                count(*) AS num,
                window_start AS starttime_c
            FROM
                HOP(bid, date_time, INTERVAL '2' SECOND, INTERVAL '10' SECOND)
            GROUP BY
                bid.auction,
                window_start
            ) AS CountBids
        GROUP BY
            CountBids.starttime_c
        ) AS MaxBids
    ON
        AuctionBids.starttime = MaxBids.starttime_c AND
        AuctionBids.num >= MaxBids.maxn
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q7.drop.sql: |
    DROP SINK nexmark_q7;
  q7.sql: |
    CREATE SINK nexmark_q7
    AS
    SELECT B.auction,
           B.price,
           B.bidder,
           B.date_time
    from bid B
             JOIN (SELECT MAX(price) AS maxprice,
                          window_end as date_time
                   FROM
                       TUMBLE(bid, date_time, INTERVAL '10' SECOND)
                   GROUP BY window_end) B1 ON B.price = B1.maxprice
    WHERE B.date_time BETWEEN B1.date_time - INTERVAL '10' SECOND
              AND B1.date_time
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q8.drop.sql: |
    DROP SINK nexmark_q8;
  q8.sql: |
    CREATE SINK nexmark_q8
    AS
    SELECT P.id,
           P.name,
           P.starttime
    FROM (SELECT id,
                 name,
                 window_start AS starttime,
                 window_end   AS endtime
          FROM
              TUMBLE(person, date_time, INTERVAL '10' SECOND)
          GROUP BY id,
                   name,
                   window_start,
                   window_end) P
             JOIN (SELECT seller,
                          window_start AS starttime,
                          window_end   AS endtime
                   FROM
                       TUMBLE(auction, date_time, INTERVAL '10' SECOND)
                   GROUP BY seller,
                            window_start,
                            window_end) A ON P.id = A.seller
        AND P.starttime = A.starttime
        AND P.endtime = A.endtime
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q9.drop.sql: |
    DROP SINK nexmark_q9;
  q9.sql: |
    CREATE SINK nexmark_q9
    AS
    SELECT id,
           item_name,
           description,
           initial_bid,
           reserve,
           date_time,
           expires,
           seller,
           category,
           auction,
           bidder,
           price,
           bid_date_time
    FROM (SELECT A.*,
                 B.auction,
                 B.bidder,
                 B.price,
                 B.date_time                                                                  AS bid_date_time,
                 ROW_NUMBER() OVER (PARTITION BY A.id ORDER BY B.price DESC, B.date_time ASC) AS rownum
          FROM auction A,
               bid B
          WHERE A.id = B.auction
            AND B.date_time BETWEEN A.date_time AND A.expires) tmp
    WHERE rownum <= 1
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q10.drop.sql: |
    DROP SINK nexmark_q10;
  q10.sql: |
    CREATE SINK nexmark_q10 AS
    SELECT auction,
           bidder,
           price,
           date_time,
           TO_CHAR(date_time, 'YYYY-MM-DD') as date,
           TO_CHAR(date_time, 'HH:MI')      as time
    FROM bid
    WITH ( connector = 'blackhole', type = 'append-only');
  q14.drop.sql: |
    DROP SINK nexmark_q14;
  q14.sql: |
    CREATE SINK nexmark_q14 AS
    SELECT auction,
           bidder,
           0.908 * price as price,
           CASE
               WHEN
                           extract(hour from date_time) >= 8 AND
                           extract(hour from date_time) <= 18
                   THEN 'dayTime'
               WHEN
                           extract(hour from date_time) <= 6 OR
                           extract(hour from date_time) >= 20
                   THEN 'nightTime'
               ELSE 'otherTime'
               END       AS bidTimeType,
           date_time
    FROM bid
    WHERE 0.908 * price > 1000000
      AND 0.908 * price < 50000000
    WITH ( connector = 'blackhole', type = 'append-only');
  q15.drop.sql: |
    DROP SINK nexmark_q15;
  q15.sql: |
    CREATE SINK nexmark_q15 AS
    SELECT to_char(date_time, 'YYYY-MM-DD')                                          as "day",
           count(*)                                                                  AS total_bids,
           count(*) filter (where price < 10000)                                     AS rank1_bids,
           count(*) filter (where price >= 10000 and price < 1000000)                AS rank2_bids,
           count(*) filter (where price >= 1000000)                                  AS rank3_bids,
           count(distinct bidder)                                                    AS total_bidders,
           count(distinct bidder) filter (where price < 10000)                       AS rank1_bidders,
           count(distinct bidder) filter (where price >= 10000 and price < 1000000)  AS rank2_bidders,
           count(distinct bidder) filter (where price >= 1000000)                    AS rank3_bidders,
           count(distinct auction)                                                   AS total_auctions,
           count(distinct auction) filter (where price < 10000)                      AS rank1_auctions,
           count(distinct auction) filter (where price >= 10000 and price < 1000000) AS rank2_auctions,
           count(distinct auction) filter (where price >= 1000000)                   AS rank3_auctions
    FROM bid
    GROUP BY to_char(date_time, 'YYYY-MM-DD')
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q16.drop.sql: |
    DROP SINK nexmark_q16;
  q16.sql: |
    CREATE SINK nexmark_q16 AS
    SELECT channel,
           to_char(date_time, 'YYYY-MM-DD')                                          as "day",
           max(to_char(date_time, 'HH:mm'))                                          as "minute",
           count(*)                                                                  AS total_bids,
           count(*) filter (where price < 10000)                                     AS rank1_bids,
           count(*) filter (where price >= 10000 and price < 1000000)                AS rank2_bids,
           count(*) filter (where price >= 1000000)                                  AS rank3_bids,
           count(distinct bidder)                                                    AS total_bidders,
           count(distinct bidder) filter (where price < 10000)                       AS rank1_bidders,
           count(distinct bidder) filter (where price >= 10000 and price < 1000000)  AS rank2_bidders,
           count(distinct bidder) filter (where price >= 1000000)                    AS rank3_bidders,
           count(distinct auction)                                                   AS total_auctions,
           count(distinct auction) filter (where price < 10000)                      AS rank1_auctions,
           count(distinct auction) filter (where price >= 10000 and price < 1000000) AS rank2_auctions,
           count(distinct auction) filter (where price >= 1000000)                   AS rank3_auctions
    FROM bid
    GROUP BY to_char(date_time, 'YYYY-MM-DD'), channel
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q17.drop.sql: |
    DROP SINK nexmark_q17;
  q17.sql: |
    CREATE SINK nexmark_q17 AS
    SELECT auction,
           to_char(date_time, 'YYYY-MM-DD')                           AS day,
           count(*)                                                   AS total_bids,
           count(*) filter (where price < 10000)                      AS rank1_bids,
           count(*) filter (where price >= 10000 and price < 1000000) AS rank2_bids,
           count(*) filter (where price >= 1000000)                   AS rank3_bids,
           min(price)                                                 AS min_price,
           max(price)                                                 AS max_price,
           avg(price)                                                 AS avg_price,
           sum(price)                                                 AS sum_price
    FROM bid
    GROUP BY to_char(date_time, 'YYYY-MM-DD'), auction
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q18.drop.sql: |
    DROP SINK nexmark_q18;
  q18.sql: |
    CREATE SINK nexmark_q18 AS
    SELECT auction, bidder, price, channel, url, date_time
    FROM (SELECT *,
                 ROW_NUMBER() OVER (
                     PARTITION BY bidder, auction
                     ORDER BY date_time DESC
                     ) AS rank_number
          FROM bid)
    WHERE rank_number <= 1
    WITH ( connector = 'blackhole', type = 'append-only', force_append_only = 'true');
  q20.drop.sql: |
    DROP SINK nexmark_q20;
  q20.sql: |
    CREATE SINK nexmark_q20 AS
    SELECT auction,
           bidder,
           price,
           channel,
           url,
           B.date_time as bid_date_time,
           B.extra     as bid_extra,
           item_name,
           description,
           initial_bid,
           reserve,
           A.date_time as auction_date_time,
           expires,
           seller,
           category,
           A.extra     as auction_extra
    FROM bid AS B
             INNER JOIN auction AS A on B.auction = A.id
    WHERE A.category = 10
    WITH ( connector = 'blackhole', type = 'append-only');
  q21.drop.sql: |
    DROP SINK nexmark_q21;
  q21.sql: |
    CREATE SINK nexmark_q21 AS
    SELECT auction,
           bidder,
           price,
           channel,
           CASE
               WHEN LOWER(channel) = 'apple' THEN '0'
               WHEN LOWER(channel) = 'google' THEN '1'
               WHEN LOWER(channel) = 'facebook' THEN '2'
               WHEN LOWER(channel) = 'baidu' THEN '3'
               ELSE (regexp_match(url, '(&|^)channel_id=([^&]*)'))[2]
               END
               AS channel_id
    FROM bid
    WHERE (regexp_match(url, '(&|^)channel_id=([^&]*)'))[2] is not null
       or LOWER(channel) in ('apple', 'google', 'facebook', 'baidu')
    WITH ( connector = 'blackhole', type = 'append-only');
  q22.drop.sql: |
    DROP SINK nexmark_q22;
  q22.sql: |
    CREATE SINK nexmark_q22 AS
    SELECT auction,
           bidder,
           price,
           channel,
           split_part(url, '/', 4) as dir1,
           split_part(url, '/', 5) as dir2,
           split_part(url, '/', 6) as dir3
    FROM bid
    WITH ( connector = 'blackhole', type = 'append-only');
