[benchmark]
JOB_NAME = "nexmark"
NAMESPACE = "flink"

PODS_DISTRIBUTION_MUTUAL_EXCLUSIVE_KEY = "gen-1"
PODS_DISTRIBUTION_GEN_NODE_SELECTOR = "null"

[benchmark.job.resources]
CPU_REQUEST = "500m"
MEM_REQUEST = "1Gi"
CPU_LIMIT   = "2"
MEM_LIMIT   = "2Gi"

[benchmark.kafka]
NAME = "kafka"
NAMESPACE = "kafka"

[benchmark.nexmark]
QUERIES = "q0"

[benchmark.nexmark.kafka]
IMAGE_TAG = "latest"
IMAGE_PULL_POLICY = "IfNotPresent"
SEPARATE_TOPICS = false
PARTITION = 6

SKIP_INSERT_KAFKA = false

MAX_EVENTS = 2000000
GENERATOR_THREAD_NUM = 8
EVENT_RATE = 10000
SKIP_EVENT_TYPES = ""

LOG_LEVEL = "info"


[benchmark.flink]
ENABLED = true
NAMESPACE = "flink"
IMAGE = { tag = "v1.16.0" }
TASKMANAGER_REPLICAS = 1
PARALLELISM = 8                 
TASKMANAGER_SLOTS = 8        

ENV_JAVA_OPTS = "-XX:+UseG1GC"      

RESTART_STRATEGY = "fixed-delay"
RESTART_FIXED_DELAY_ATTEMPTS = 3
RESTART_FIXED_DELAY_DELAY = "10s"

JOBMANAGER_MEMORY = "2048m"
TASKMANAGER_MEMORY = "4096m"
TASKMANAGER_MEMORY_MANAGED_FRACTION = 0.4

CHECKPOINT_INTERVAL = "30s"
MAX_CONCURRENT_CHECKPOINTS = 1
FINAL_CHECKPOINT_ENABLED = false

STATE_BACKEND_INCREMENTAL = true

S3_BUCKET = "dev-sclee01-apne1"
S3_BUCKET_FOLDER = "flink/checkpoints"

PERSISTENCE_STORAGE_CLASS = "gp2"
PERSISTENCE_SIZE = "16Gi"

IAM_ROLE_ARN = "arn:aws:iam::967157097094:role/dataeng-sclee01-iam-roles"