[benchmark]
JOB_NAME = "nexmark"
NAMESPACE = "kafka"

PODS_DISTRIBUTION_MUTUAL_EXCLUSIVE_KEY = "gen-1"
PODS_DISTRIBUTION_GEN_NODE_SELECTOR = "null"

[benchmark.job.resources]
CPU_REQUEST = "500m"
MEM_REQUEST = "1Gi"
CPU_LIMIT   = "2"
MEM_LIMIT   = "2Gi"

[benchmark.kafka]
NAME = "kafka"

[benchmark.nexmark.kafka]
IMAGE_TAG = "latest"
IMAGE_PULL_POLICY = "IfNotPresent"
SEPARATE_TOPICS = false
PARTITION = 6

SKIP_INSERT_KAFKA = false

MAX_EVENTS = 1000000
GENERATOR_THREAD_NUM = 4
EVENT_RATE = 10000
SKIP_EVENT_TYPES = ""

LOG_LEVEL = "info"
