[benchmark]
JOB_NAME = "nexmark"
NAMESPACE = "flink"

PODS_DISTRIBUTION_MUTUAL_EXCLUSIVE_KEY = "gen-1"
PODS_DISTRIBUTION_GEN_NODE_SELECTOR = "null"

[benchmark.job.resources]
CPU_REQUEST = "500m"
MEM_REQUEST = "1Gi"
CPU_LIMIT   = "2"
MEM_LIMIT   = "2Gi"

[benchmark.kafka]
NAME = "kafka"

[benchmark.nexmark.kafka]
IMAGE_TAG = "latest"
IMAGE_PULL_POLICY = "IfNotPresent"
SEPARATE_TOPICS = false
PARTITION = 6

SKIP_INSERT_KAFKA = false

MAX_EVENTS = 1000000
GENERATOR_THREAD_NUM = 4
EVENT_RATE = 10000
SKIP_EVENT_TYPES = ""

LOG_LEVEL = "info"


[benchmark.flink]
ENABLED = true
NAMESPACE = "flink"
IMAGE = { tag = "v1.16.0" }
TASKMANAGER_REPLICAS = 1              # ${BENCHMARK_FLINK_TASKMANAGER_REPLICAS}
PARALLELISM = 8                       # ${BENCHMARK_FLINK_PARALLELISM}
TASKMANAGER_SLOTS = 8                 # ${BENCHMARK_FLINK_TASKMANAGER_SLOTS}

ENV_JAVA_OPTS = "-XX:+UseG1GC"        # ${BENCHMARK_FLINK_ENV_JAVA_OPTS}

RESTART_STRATEGY = "fixed-delay"      # ${BENCHMARK_FLINK_RESTART_STRATEGY}
RESTART_FIXED_DELAY_ATTEMPTS = 3      # ${BENCHMARK_FLINK_RESTART_STRATEGY_FIXED_DELAY_ATTEMPTS}
RESTART_FIXED_DELAY_DELAY = "10s"    # ${BENCHMARK_FLINK_RESTART_STRATEGY_FIXED_DELAY_DELAY}

JOBMANAGER_MEMORY = "2048m"           # ${BENCHMARK_FLINK_JOBMANAGER_MEMORY}
TASKMANAGER_MEMORY = "4096m"          # ${BENCHMARK_FLINK_TASKMANAGER_MEMORY}
TASKMANAGER_MEMORY_MANAGED_FRACTION = 0.4  # ${BENCHMARK_FLINK_TASKMANAGER_MEMORY_MANAGED_FRACTION}

CHECKPOINT_INTERVAL = "30s"          # ${BENCHMARK_FLINK_CHECKPOINT_INTERVAL}
MAX_CONCURRENT_CHECKPOINTS = 1        # ${BENCHMARK_FLINK_EXECUTION_CHECKPOINTING_MAX_CONCURRENT_CHECKPOINTS}
FINAL_CHECKPOINT_ENABLED = false      # ${BENCHMARK_FLINK_EXECUTION_CHECKPOINTING_CHECKPOINTS_AFTER_TASKS_FINISH_ENABLED}

STATE_BACKEND_INCREMENTAL = true      # ${BENCHMARK_FLINK_STATE_BACKEND_INCREMENTAL}

S3_BUCKET = "dev-sclee01-apne1"             # ${BENCHMARK_FLINK_S3_BUCKET}
S3_BUCKET_FOLDER = "flink/checkpoints" # ${BENCHMARK_FLINK_S3_BUCKET_FOLDER}

PERSISTENCE_STORAGE_CLASS = "gp2"     # ${BENCHMARK_FLINK_PERSISTENCE_STORAGE_CLASS}
PERSISTENCE_SIZE = "16Gi"             # ${BENCHMARK_FLINK_PERSISTENCE_SIZE}

IAM_ROLE_ARN = "arn:aws:iam::967157097094:role/dataeng-sclee01-iam-roles"
