apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: flink
  namespace: monitoring
  labels:
    release: kps
spec:
  namespaceSelector:
    matchNames:
      - flink
  selector:
    matchLabels:
      app: flink-service
  endpoints:
    - port: prom
      interval: 5s
      path: /metrics
